<mat-card class='card-container' [ngClass]="{'alone': post.selftext === '' && thumbNail === ''}">
    <div class="image-container">
        <img mat-card-image [src]="thumbNail" (error)="handleMissingImage($event)" >
    </div>
    <div class="content">
        <div class="top-container">
            <span><img src="/assets/comment.png">{{ post.num_comments }}</span>
            <span><img src="/assets/updutt.png">{{ post.score }}</span>
        </div>
        <mat-card-header>
            <mat-card-title>{{ post.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="post.selftext !== ''">
                <p [ngClass]="{'limitTextHeight': isTextHidden}">
                    {{ post.selftext }}
                </p>
            </ng-container>
        </mat-card-content>
        <ng-container *ngIf="post.selftext !== ''">
            <mat-card-actions>
                <div class="bottom-container">
                    <span>posted {{ dateCreated | dateAgo }} by {{ post.author }}</span>
                    <div class="toggle-text" (click)="togglePostText()">
                        <ng-container *ngIf="isTextHidden; else showMore">
                            <span>Show Less</span><img class="inverted" src="/assets/chvr1.png">
                        </ng-container>
                        <ng-template #showMore>
                            <span>Show More<img src="/assets/chvr1.png"></span>
                        </ng-template>
                    </div>
                </div>
            </mat-card-actions>
        </ng-container>
    </div>
</mat-card>
