.card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
    min-height: 4rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 1rem;
}

p {
    overflow: hidden;
    height: 4rem;
}

img {
    width: 120px;
    height: auto;
    margin-right: 2rem;
}

.limitTextHeight {
    height: 100%;   
}

// more atomic
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}