/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #1C3043;
}

// material override
.mat-paginator-outer-container {
    background-color: #1C3043;
    color: white;
}

.mat-paginator-container {
    justify-content: center !important;
}

.mat-paginator-outer-container {
    background-color: #1C3043;
    color: white;
    margin-bottom: 2rem;
}

.mat-form-field {
    background-color: white;
    padding: 0 1rem;
}